extends ../../layouts/user.pug
block usercontent
   link(rel="stylesheet", href="/css/user/index.css")
   .container.warp-info
      .row
         .col-12.col-lg-4.pic-left
            img.pic-img(src="http://thuthuatphanmem.vn/uploads/2018/04/10/hinh-nen-ca-bien-dep_052333790.jpg")
         .col-12.col-lg-7.info-right
            .info-table
               .info-col
                  .item Email
                  .item Tên 
                  .item Tài khoản
                  .item Số dư
               .info-col
                  .item :
                  .item :
                  .item :
                  .item : 
               .info-col#infos
                  .item=user.email?user.email:"Vui lòng cập nhật Email"
                  .item=user.fullname?user.fullname:"Vui lòng cập nhật Tên"
                  .item #{user.name}
                  .item #{user.balance}
               form.info-col#inputs(action="/user" method='post')
                  input.item#input-email(placeholder="Nhập vào email", type="text",value=user.email name="email")
                  input.item#input-fullname(placeholder="Nhập vào tên mới", type="text",value=user.fullname name="fullname")
                  .item #{user.name}
                  .item
                     button.mr-2.ml-2.pl-5.pr-5.btn.btn-success(type="submit") Lưu
                     button.mr-2.ml-2.pl-5.pr-5.btn.btn-danger#btn-cancle(type="button") Hủy
               .info-col#buttons
                  .item
                     button.btn.btn-success#btn-email(type="submit") Cập nhật
                  .item
                     button.btn.btn-success#btn-fullname(type="submit") Cập nhật
                  button.itemnonne.btn.btn-success(type="submit") Cập nhật
                  button.itemnonne.btn.btn-success(type="submit") Cập nhật
   script(src="/js/user/index.js")





